# config/*

# !config/bforartists/4.2/config/userpref.blend
# config/bforartists/4.2/config/*
# !config/Code/User/settings.json


# Ignore everything in the config directory

config/*

config/bforartists/4.2/config/startup.blend
config/bforartists/4.2/config/userpref.blend
# !config/bforartists/
# config/bforartists/*
# !config/bforartists/4.2
# config/bforartists/4.2/*
# !config/bforartists/4.2/config/
# config/bforartists/4.2/config/*

# config/Code/
# !config/Code/
# config/Code/User/*
!config/Code/User/settings.json